@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
  --ff-primary: 'Montserrat', sans-serif;
  --ff-heading: 'Fraunces', serif;
  --ff-icon: 'Symbols Outlined';

  --fw-regular: 500;
  --fw-bold: 700;

  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;

  --clr-primary--darker: hsl(158, 36%, 25%);    /* medium font, button */
  --clr-primary--dark:   hsl(158, 36%, 37%);    /* medium font, button */
  --clr-primary--medium: hsl(30, 38%, 92%);     /* bg body */
  
  --clr-neutral--dark:   hsl(212, 21%, 14%);     /* Dark font */
  --clr-neutral--medium: hsl(228, 12%, 55%);      
  --clr-neutral--white:  hsl(0, 0%, 100%);
}



/* reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--clr-primary--medium);

  font-family: var(--ff-primary);
  font-size: var(--fs-14);
  line-height: 1.6;
  color: var(--clr-neutral--medium);
}

img {
  display: block;
  max-width: 100%;
}

.img--desktop {
  display: none;
}

h1 {
  margin-bottom: .5em;
  font-family: var(--ff-heading);
  font-size: 2rem;
  line-height: 1;
  color: var(--clr-neutral--dark);
}

.product__lead {
  margin-block: 0.5em 1em;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .25em;
}



/* Assets */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  width: 100%;
  margin-top: 1rem;
  padding: 1em 1.5em;
  border: none;
  background-color: var(--clr-primary--dark);
  border-radius: 0.5rem;

  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  text-align: center;
  color: var(--clr-neutral--white);

  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--clr-primary--darker);
}




/* Design */
.card {
  width: min(92vw, 600px);
  margin-inline: auto;
  margin-top: 4vw;
  border-radius: 1rem;
  overflow: hidden;
}

.product {
  padding: 1.5rem;
  background-color: var(--clr-neutral--white);
}

.product__price {
  display: flex;
  gap: 1rem;

  margin-top: .5em;
  align-items: center;
  font-family: var(--ff-heading);
  font-size: 2rem;
  color: var(--clr-primary--dark);
}

.price--small {
  font-family: var(--ff-primary);
  font-size: var(--fs-12);
  text-decoration: line-through;
  color: var(--clr-neutral--medium);
}



/* media queries */

/* debug only */

/* @media (max-width: 320px) {
  body {
    border: 5px solid red;
  }
} */


@media (min-width: 650px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .images {
    flex-basis: 50%;
  }
  
  .product {
    flex-basis: 50%;
  }

  .img--mobile {
    display: none;
  }
  .img--desktop {
    display: block;
  }

  /* utility class */
  .flex {
    display: flex;
  }
}





/* utility classes */
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}